/* PAGE EN GENERAL */

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    background-image: url("../style/img/BGimg2.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}


/* NAVBAR HEADER */

header {
    background-color: #102824;
    opacity: 0.9;
}

.head_nav {
    display: flex;
    align-items: center;
}

.head_logo {
    width: 100px;
    height: 100px;
    margin-right: auto;
}

.logo {
    width: 100%;
    height: 100%;
}

.head_btn {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

#btn1:hover, #btn2:hover, #btn3:hover {
    background-color: rgba(255, 255,255, 0.2);
}


/* FORMULAIRE INSCRIPTION */

.form {
    display: flex;
    flex-direction: column;
}

input {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
}

#submit_btn {
    margin-top: 10px;
}

.error {
    text-align: center;
    color: #2A3F33;
}

.error2 {
    text-align: center;
    color: white;
}


/* MODIFICATION PROFIL */

label {
    text-align: center;
    margin-top: 5px;
    color: #2A3F33;
}

#TitreProfil {
    font-size: 24px;
}


/* TEXTE */

p {
    padding: 10px;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #2A3F33;
}


/* PAGE COMMENTAIRES */

#commentaire {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 5px;
    padding: 40px;
    text-align: justify;
}

#TitreCommentaire {
    font-size: 24px;
}


/* LIVRE D'OR */

.livreorTable {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 70%;
    table-layout: fixed;
    color: black;
    background-color: white;
    opacity: 0.9;
}

th,td {
    border: 2px solid black;
    text-align: center;
}


/* RESPONSIVE */

@media screen and (max-width: 460px) {
    .head_btn {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    h1 {
        font-size: 20px;
        color: white;
    }
}

@media screen and (max-width: 250px) {
    .head_btn {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    .head_logo {
        width: 80px;
        height: 80px;
    }
    h1 {
        font-size: 16px;
        color: white;
    }
    input {
        width: 50%;
    }
}
