/* PAGE EN GENERAL */

*, ::before, ::after {
    box-sizing: border-box;
}

*::selection {
    background-color: hsla(165, 89%, 31%, 1);
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lobster', cursive;
}

main {
    padding: 20px 50px;
    flex-grow: 1;
    background: hsla(165, 89%, 31%, 1);
    background: linear-gradient(90deg, hsla(165, 89%, 31%, 1) 0%, hsla(161, 46%, 49%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(165, 89%, 31%, 1) 0%, hsla(161, 46%, 49%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(165, 89%, 31%, 1) 0%, hsla(161, 46%, 49%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#099773", endColorstr="#43B692", GradientType=1 );
}

footer {
    padding: 80px 0;
    background-image: url("../style/img/Bgimg.jpg");
    background-size: cover;
}
  
/* NAVBAR HEADER */

header {
    background-color: #102824;
    opacity: 0.9;
}

.head_nav {
    display: flex;
    align-items: center;
}

.head_logo {
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: 15px;
    margin-top: 5px;
}

.logo {
    width: 80%;
    height: 80%;
}

.head_btn {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 15px;
}

#btn1:hover, #btn2:hover, #btn3:hover {
    background-color: rgba(255, 255,255, 0.2);
}


/* FORMULAIRE INSCRIPTION */

.form {
    display: flex;
    flex-direction: column;
}


input {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
}

#submit_btn {
    margin-top: 10px;
    cursor: pointer;
}

.error {
    text-align: center;
    color: #2A3F33;
}

.error2 {
    text-align: center;
    color: white;
}


/* MODIFICATION PROFIL */

label {
    text-align: center;
    margin-top: 5px;
    color: #2A3F33;
}

#TitreProfil {
    font-size: 24px;
}


/* TEXTE */

p {
    padding: 10px;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #2A3F33;
}


/* PAGE COMMENTAIRES */

#commentaire {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 5px;
    padding: 40px;
    text-align: justify;
}

#TitreCommentaire {
    font-size: 24px;
}


/* LIVRE D'OR */

.livreorTable {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 70%;
    table-layout: fixed;
    color: black;
    background-color: white;
    opacity: 0.7;
}

th,td {
    border: 2px solid black;
    text-align: center;
}

td {
    color: hsla(165, 89%, 31%, 1);
};


/* RESPONSIVE */

@media screen and (max-width: 460px) {
    .head_btn {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    h1 {
        font-size: 20px;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 250px) {
    .head_btn {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    .head_logo {
        width: 30px;
        height: 30px;
    }
    h1 {
        font-size: 16px;
    }
    input {
        width: 50%;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}
